@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
}

header {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

h1 {
  color: black;
  font-size: 40px;
  margin: 0;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
}

/* #search {
  display: inline-block;
  margin-top: 10px;
} */

label {
  font-size: 20px;
}

#search-input {
  font-size: 50px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

#tips-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#tags {
  text-align: center;
  margin-bottom: 20px;
}

#tags a {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #FF8E00;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

#tags a:hover {
  background-color: #FF5003;
  border-radius: 5px;
}

.tip {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.tip h2 {
  margin-top: 0;
}

.tip p {
  margin: 0;
}

.tags {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
}

.tags li {
  display: inline-block;
  margin-right: 10px;
}

.tags li:last-child {
  margin-right: 0;
}

.logo img {
  height:40px;

}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #003F7D;
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav li {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}


/* adjusts the navigation bar (hovering, text size, etc.) */
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  transition: color 0.3s;
}

nav a:hover {
  background-color: #FF8E00;
  color: #fff;
}

/* Add a dark blue background color to the top navigation */
.topnav {
  background-color: #003F7D;
  overflow: hidden;
}
 /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
  font-size: 17px;
}
 /* Change the color of links on hover */
.topnav a:hover {
  font-weight: bold;
  color: #FF8E00;
}

* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.tb {
  display: table;
  width: 100%;
}

/* adjust search in button */
.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: 'Inter';
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#search2 {
  position: absolute;
  top: 406px;
  left: 0;
  right: 0;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: -200px auto 0 auto;
  /* background-color: #FF8E00; */
  border-color: gray;
  border-style: solid;
  border-radius: 90px;
  /* box-shadow: 0 10px 40px #ffa537, 0 0 0 20px #ffffffeb; */
  transform: scale(0.6);
}

form {
  height: 50px;
}

input[type="text"] {
  width: 100%;
  height: 47px;
  font-size: 35px;
  line-height: 1;
}

/* placeholder text */
input[type="text"]::placeholder {
  color: gray;
}

#s-cover {
  width: 100px;
  padding-left: 20px;
}

button {
  position: absolute;
  display: block;
  width: 84px;
  height: 106px;
  cursor: pointer;
}

/* adjusts search icon circle */
#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 36px;
  height: 36px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #ffe9ad;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

/* distance of search icon line */
button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

/* adjust the search icon line before hovering */
button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #ffe9ad;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

/* adjusts the search icon line when you hover over it */
#s-cover:hover #s-circle {
  top: -1px;
  width: 67px; 
  height: 15px;
  border-width: 0;
  background-color: #ffe9ad; 
  border-radius: 15px; /* changes the roundness of the search icon */
}

/* adjusts the search icon circle when you hover */
#s-cover:hover span {
  top: 50%;
  left: 54px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #ffe9ad;
}
